/* Basic Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  /* Form Styling */
  form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="file"] {
    border: none;
  }
  
  input[type="text"]:focus,
  input[type="number"]:focus {
    outline: none;
    border-color: #007bff;
  }
  
  /* Button Styling */
  /* Button Styling */
button {
    cursor: pointer;
    padding: 10px 15px;
    color: #fff;
    background-color: #aca657; /* Green */
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #218838; /* Darker Green */
  }



  /* Update profile */
  .profile-form-container {
    max-width: 500px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: #fff;
}

.card-header {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
}

.card-header button {
    background-color: #0056b3;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}

.card-body {
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group input[readonly] {
    background-color: #e9ecef;
    cursor: not-allowed;
}

@media (max-width: 768px) {
    .profile-form-container {
        margin: 10px;
    }
}

  
